{% extends "base.twig" %}

{% block content %} 
  {# Message Header #}
  {% set latestPodcast = get_post_type(posts|first) %}
  {% include "podcasts/single-podcast-header.twig" with {podcast: get_post_type(latestPodcast)} %}

  {# Archive Grid #}
  <section class="section bg-white" id="podcast_archive">
    <div class="section-content normal-padding row two-thirds-width">
      <div class="column text-center">
        {# Message Filters #}
        {% include "podcasts/podcast-filtering.twig" %}

        {# Archive Grid #}
        {% include "podcasts/archive-grid.twig" with {items: posts} %}
      </div>
		</div>
	</section>
  {% include "pagination.twig" %}

{% endblock %}