{% extends "base.twig" %}

{% block content %}
	<div class="content-wrapper post-type-{{post.post_type}}" id="post-{{post.ID}}">
		{# Podcast Header #}
    {% include "podcasts/single-podcast-header.twig" with {podcast: post} %}

    <section class="section bg-white">
      <div class="section-content thin-padding">
        <div class="row two-thirds-width">
          <div class="column">
            {% include "podcasts/ways-to-listen.twig" with {podcast_name: post.podcast_name} %}
          </div>
        </div>
      </div>
    </section>
		
    <section class="section main-content bg-white">
      <div class="section-content normal-padding">
        <div class="row two-thirds-width">
          <div class="column podcast-main-content">
            {# Podcast Content #}
            {% if post.content %}
              <div class="main-content">{{post.content|shortcodes}}</div>
            {% endif %}

            {# Sidebar Content #}
            {% include 'podcasts/sidebar.twig' with {post: post} %}
          </div>
        </div>
      </div>
    </section>

    {# Podcast Transcript #}
    {% include "podcasts/transcript.twig" with {post: post} %}

    {# Related Episodes #}
    {% include "podcasts/related-podcasts.twig" with {post: post} %}

		{% for section in post.get_field('page_sections') %} 
			{% include ['sections/'~section.acf_fc_layout~'.twig', 'sections/standard.twig']  %}
		{% endfor %}
			
	</div><!-- /content-wrapper -->
{% endblock %}


