<a href="{{post.link}}" class='tease-podcast tease'>
  <img src="{{post.thumbnail.src|default(TimberImage(options.default_image))|resize(400,400) }}" />	
	<div class="info">
    <h5 class="podcast-title">{{post.title}}{%
      if post.guest %} ft. {{post.guest.name}}{% endif
    %}</h5>
    <div class="date">{{post.podcast_date|date("M d, Y")}}</div>
  </div>
</a>
