/**
 * Foundation for Sites by ZURB
 * Version 6.6.0
 * foundation.zurb.com
 * Licensed under MIT Open Source
 */
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace, monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: bolder; }

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em"; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background: #fefefe;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #0a0a0a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic; }

textarea {
  height: auto;
  min-height: 50px;
  border-radius: 0; }

select {
  box-sizing: border-box;
  width: 100%;
  border-radius: 0; }

.map_canvas img,
.map_canvas embed,
.map_canvas object,
.mqa-display img,
.mqa-display embed,
.mqa-display object {
  max-width: none !important; }

button {
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 1;
  cursor: auto; }
  [data-whatinput='mouse'] button {
    outline: 0; }

pre {
  overflow: auto; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; }

.is-visible {
  display: block !important; }

.is-hidden {
  display: none !important; }

:root {
  --podcast-pretitle-text-transform: uppercase;
  --podcast-pretitle-font-family: var(--header-font-family);
  --podcast-pretitle-font-size: 0.8rem;
  --podcast-pretitle-color: var(--white);
  --podcast-audio-popup: -5rem;
  --podcast-audio-player-background: var(--dark);
  --podcast-player-box-padding: 1.5rem;
  --podcast-player-box-gap: 0.5rem;
  --podcast-player-box-height: 10rem;
  --podcast-play-background: var(--white);
  --podcast-play-color: var(--dark);
  --podcast-play-hover: var(--primary);
  --podcast-play-button-size: 2.5rem;
  --podcast-progress-height: 3rem;
  --podcast-progress-base-color: var(--white);
  --podcast-progress-played-color: var(--primary);
  --podcast-progress-offset: 100%;
  --podcast-player-name-font-size: 0.8rem;
  --podcast-player-name-font-family: var(--header-font-family);
  --podcast-player-name-font-weight: 400;
  --podcast-player-name-text-transform: none;
  --podcast-player-name-color: var(--white);
  --podcast-player-episode-font-size: 1rem;
  --podcast-player-episode-font-family: var(--header-font-family);
  --podcast-player-episode-font-weight: bold;
  --podcast-player-episode-text-transform: uppercase;
  --podcast-player-episode-color: var(--white);
  --podcast-wtl-label-font-family: var(--header-font-family);
  --podcast-wtl-label-font-size: 1rem;
  --podcast-wtl-label-color: var(--dark);
  --podcast-wtl-label-text-transform: uppercase;
  --podcast-wtl-label-margin-bottom: 1rem;
  --podcast-wtl-label-margin-top: 2rem;
  --podcast-wtl-button-background: var(--dark);
  --podcast-wtl-button-border-radius: 3px;
  --podcast-wtl-button-margin: 1rem;
  --podcast-wtl-button-padding: 0.2rem 0.5rem;
  --podcast-wtl-icon-gap: 0.5rem;
  --podcast-wtl-listen-on-font-size: 0.5rem;
  --podcast-wtl-listen-on-color: var(--white);
  --podcast-wtl-name-font-size: 0.8rem;
  --podcast-wtl-name-color: var(--white);
  --podcast-main-content-gap: 2rem;
  --podcast-sidebar-content-padding-bottom: 2rem;
  --podcast-sidebar-content-margin-bottom: 0.5rem;
  --podcast-sidebar-content-border-size: 2px;
  --podcast-sidebar-content-border-color: var(--medium-gray);
  --podcast-sidebar-subcontent-margin-bottom: 0.5rem;
  --podcast-sidebar-text-color: var(--dark);
  --podcast-sidebar-label-font-size: 0.8rem;
  --podcast-sidebar-label-font-weight: bold;
  --podcast-sidebar-label-text-transform: uppercase;
  --podcast-sidebar-label-margin-bottom: 0.25rem;
  --podcast-sidebar-label-color: var(--dark);
  --podcast-sidebar-link-font-size: 0.7rem;
  --podcast-sidebar-link-color: var(--dark);
  --podcast-sidebar-link-hover-color: var(--primary);
  --podcast-tag-filter-margin-bottom: 3rem;
  --podcast-tag-filter-label-font-size: 1.5rem;
  --podcast-tag-filter-label-font-family: var(--header-font-family);
  --podcast-tag-filter-label-text-transform: uppercase;
  --podcast-tag-filter-label-letter-spacing: 0.1rem;
  --podcast-tag-filter-label-font-weight: bold;
  --podcast-tag-filter-label-margin: 0.5rem;
  --podcast-tag-filter-label-margin-desktop: 0 0.5rem 0 0;
  --podcast-tag-filter-label-text-align: center;
  --podcast-tag-filter-label-text-align-desktop: left;
  --podcast-tag-filter-label-line-height: 1.2;
  --podcast-tag-filter-select-background: var(--dark);
  --podcast-tag-filter-select-color: var(--white);
  --podcast-tag-filter-select-padding: 0.5rem;
  --podcast-tag-filter-select-min-width: 10rem;
  --podcast-tag-filter-select-text-transform: uppercase;
  --podcast-tag-filter-search-gap: 1rem;
  --podcast-tag-filter-search-margin: 0.5rem 0;
  --podcast-tag-filter-search-border-color: var(--dark);
  --podcast-tag-filter-search-border-size: 2px;
  --podcast-tag-filter-search-width-desktop: 30rem;
  --podcast-tag-filter-search-toggle-size: 2rem;
  --podcast-tag-filter-search-toggle-color: var(--primary);
  --podcast-tag-filter-search-input-gap: 0.75rem;
  --podcast-tag-filter-search-button-background: var(--primary);
  --podcast-tag-filter-search-button-color: var(--white);
  --podcast-tag-filter-search-button-hover-background: var(--white);
  --podcast-tag-filter-search-button-hover-color: var(--primary);
  --podcast-tease-background: var(--dark);
  --podcast-tease-image-opacity: 0.5;
  --podcast-tease-image-grayscale: grayscale(1);
  --podcast-tease-image-opacity-hover: 1;
  --podcast-tease-image-grayscale-hover: grayscale(0);
  --podcast-tease-title-font-family: var(--header-font-family);
  --podcast-tease-title-font-size: 1rem;
  --podcast-tease-title-font-weight: bold;
  --podcast-tease-title-text-transform: uppercase;
  --podcast-tease-title-color: var(--white);
  --podcast-tease-title-color-hover: var(--primary);
  --podcast-tease-date-font-family: var(--header-font-family);
  --podcast-tease-date-font-size: 0.8rem;
  --podcast-tease-date-font-weight: 400;
  --podcast-tease-date-text-transform: normal;
  --podcast-tease-date-color: var(--white);
  --podcast-tease-date-color-hover: var(--primary);
  --podcast-tease-info-padding: 0.5rem 1rem;
  --podcast-transcript-collapsed-max-height: 10rem;
  --podcast-transcript-gradient-height: 2rem;
  --podcast-transcript-gradient-color: var(--dark);
  --podcast-transcript-expand-link-color: var(--white);
  --podcast-transcript-expand-link-color-hover: var(--primary);
  --podcast-transcript-expand-link-font-size: 0.8rem;
  --podcast-transcript-expand-link-font-weight: bold;
  --podcast-transcript-expand-link-font-family: var(--header-font-family);
  --podcast-transcript-expand-link-text-transform: uppercase;
  --podcast-related-episode-link-color: var(--dark);
  --podcast-related-episode-link-color-hover: var(--primary);
  --podcast-related-episode-link-font-family: var(--header-font-family);
  --podcast-related-episode-link-font-size: 0.8rem;
  --podcast-related-episode-link-font-weight: bold;
  --podcast-related-episode-link-text-transform: uppercase;
  --podcast-related-episode-header-margin-bottom: 1rem; }

.podcast-archive-header .pre-title {
  text-transform: var(--podcast-pretitle-text-transform);
  font-family: var(--podcast-pretitle-font-family);
  font-size: var(--podcast-pretitle-font-size);
  color: var(--podcast-pretitle-color); }

.podcast-audio-section .section-content > .row > .column {
  margin-top: var(--podcast-audio-popup); }

.podcast-audio-section .podcast-audio-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }
  @media print, screen and (min-width: 40em) {
    .podcast-audio-section .podcast-audio-wrapper {
      -ms-flex-direction: row;
      flex-direction: row;
      height: var(--podcast-player-box-height); } }
  .podcast-audio-section .podcast-audio-wrapper .image-wrapper {
    height: 100%; }
    .podcast-audio-section .podcast-audio-wrapper .image-wrapper img {
      max-height: 100%;
      max-width: 100%;
      -o-object-fit: cover;
      object-fit: cover; }
  .podcast-audio-section .podcast-audio-wrapper .content-wrapper {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: var(--podcast-player-box-padding);
    background: var(--podcast-audio-player-background); }
    .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: center;
      align-items: center; }
      @media print, screen and (min-width: 40em) {
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line {
          -ms-flex-direction: row;
          flex-direction: row; } }
      .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button {
        position: relative;
        width: var(--podcast-play-button-size);
        height: var(--podcast-play-button-size);
        border-radius: 50%;
        background: var(--podcast-play-background);
        color: var(--podcast-play-color);
        border: solid 2px var(--podcast-play-background);
        transition: 0.25s ease-out;
        cursor: pointer;
        margin-bottom: var(--podcast-player-box-gap); }
        @media print, screen and (min-width: 40em) {
          .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button {
            margin-right: var(--podcast-player-box-gap);
            margin-bottom: 0; } }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button:hover {
          background: transparent;
          color: var(--podcast-play-hover);
          border-color: var(--podcast-play-hover); }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button i {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: 0.25s ease-out; }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button .fa-play {
          padding-left: 0.2rem; }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button.playing .fa-pause {
          opacity: 1; }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button.playing .fa-play {
          opacity: 0; }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button:not(.playing) .fa-pause {
          opacity: 0; }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line #podcast_play_button:not(.playing) .fa-play {
          opacity: 1; }
      .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line .main-info {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column; }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line .main-info .podcast-name {
          font-size: var(--podcast-player-name-font-size);
          font-family: var(--podcast-player-name-font-family);
          font-weight: var(--podcast-player-name-font-weight);
          text-transform: var(--podcast-player-name-text-transform);
          color: var(--podcast-player-name-color); }
        .podcast-audio-section .podcast-audio-wrapper .content-wrapper .player-line .main-info .episode-title {
          font-size: var(--podcast-player-episode-font-size);
          font-family: var(--podcast-player-episode-font-family);
          font-weight: var(--podcast-player-episode-font-weight);
          text-transform: var(--podcast-player-episode-text-transform);
          color: var(--podcast-player-episode-color); }
    .podcast-audio-section .podcast-audio-wrapper .content-wrapper .progress-bar-wrapper {
      height: var(--podcast-progress-height);
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      margin-top: var(--podcast-player-box-gap); }
      .podcast-audio-section .podcast-audio-wrapper .content-wrapper .progress-bar-wrapper svg {
        max-width: 100%; }
      .podcast-audio-section .podcast-audio-wrapper .content-wrapper .progress-bar-wrapper .podcast-waves-bottom {
        stroke: var(--podcast-progress-base-color); }
      .podcast-audio-section .podcast-audio-wrapper .content-wrapper .progress-bar-wrapper .podcast-waves-top {
        stroke: var(--podcast-progress-played-color);
        -webkit-clip-path: inset(0 var(--podcast-progress-offset) 0 0);
        clip-path: inset(0 var(--podcast-progress-offset) 0 0);
        transition: 0.1s linear; }

.wtl-label {
  font-family: var(--podcast-wtl-label-font-family);
  font-size: var(--podcast-wtl-label-font-size);
  color: var(--podcast-wtl-label-color);
  text-transform: var(--podcast-wtl-label-text-transform);
  margin-bottom: var(--podcast-wtl-label-margin-bottom);
  margin-top: var(--podcast-wtl-label-margin-top);
  text-align: center; }

.ways-to-listen {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .ways-to-listen .way-to-listen {
    background: var(--podcast-wtl-button-background);
    border-radius: var(--podcast-wtl-button-border-radius);
    margin: var(--podcast-wtl-button-margin);
    padding: var(--podcast-wtl-button-padding);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    .ways-to-listen .way-to-listen .wtl-icon {
      margin-right: var(--podcast-wtl-icon-gap); }
    .ways-to-listen .way-to-listen .wtl-text {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
      flex-direction: column;
      line-height: 1.2; }
      .ways-to-listen .way-to-listen .wtl-text .listen-on {
        font-size: var(--podcast-wtl-listen-on-font-size);
        color: var(--podcast-wtl-listen-on-color); }
      .ways-to-listen .way-to-listen .wtl-text .wtl-name {
        font-size: var(--podcast-wtl-name-font-size);
        color: var(--podcast-wtl-name-color);
        font-weight: bold; }

.podcast-main-content {
  display: grid;
  gap: var(--podcast-main-content-gap); }
  @media print, screen and (min-width: 40em) {
    .podcast-main-content {
      grid-template-columns: 1fr auto; } }

.podcast-sidebar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  .podcast-sidebar .sidebar-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: var(--podcast-sidebar-content-padding-bottom);
    margin-bottom: var(--podcast-sidebar-content-margin-bottom);
    border-bottom: solid var(--podcast-sidebar-content-border-size) var(--podcast-sidebar-content-border-color); }
  .podcast-sidebar .sidebar-label {
    font-size: var(--podcast-sidebar-label-font-size);
    font-weight: var(--podcast-sidebar-label-font-weight);
    text-transform: var(--podcast-sidebar-label-text-transform);
    margin-bottom: var(--podcast-sidebar-label-margin-bottom);
    color: var(--podcast-sidebar-label-color);
    line-height: 1.2; }
  .podcast-sidebar .episode-link {
    font-size: var(--podcast-sidebar-link-font-size);
    color: var(--podcast-sidebar-link-color);
    transition: 0.25s ease-out; }
    .podcast-sidebar .episode-link:hover {
      color: var(--podcast-sidebar-link-hover-color); }
  .podcast-sidebar .credit {
    font-size: var(--podcast-sidebar-link-font-size);
    color: var(--podcast-sidebar-text-color); }
  .podcast-sidebar .credit-section {
    margin-bottom: var(--podcast-sidebar-subcontent-margin-bottom); }
  .podcast-sidebar .expand-transcript-link {
    font-size: var(--podcast-sidebar-link-font-size);
    font-weight: var(--podcast-sidebar-label-font-weight);
    text-transform: var(--podcast-sidebar-label-text-transform);
    transition: 0.25s ease-out; }
    .podcast-sidebar .expand-transcript-link:hover {
      color: var(--podcast-sidebar-link-hover-color); }

#podcast_archive .podcast-tag-filters {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: var(--podcast-tag-filter-margin-bottom);
  -ms-flex-direction: column;
  flex-direction: column; }
  @media print, screen and (min-width: 40em) {
    #podcast_archive .podcast-tag-filters {
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-align: start;
      align-items: flex-start; } }
  #podcast_archive .podcast-tag-filters .filter-label {
    font-size: var(--podcast-tag-filter-label-font-size);
    font-family: var(--podcast-tag-filter-label-font-family);
    text-transform: var(--podcast-tag-filter-label-text-transform);
    letter-spacing: var(--podcast-tag-filter-label-letter-spacing);
    font-weight: var(--podcast-tag-filter-label-font-weight);
    margin: var(--podcast-tag-filter-label-margin);
    text-align: var(--podcast-tag-filter-label-text-align);
    line-height: var(--podcast-tag-filter-label-line-height); }
    @media print, screen and (min-width: 40em) {
      #podcast_archive .podcast-tag-filters .filter-label {
        text-align: var(--podcast-tag-filter-label-text-align-desktop);
        margin: var(--podcast-tag-filter-label-margin-desktop); } }
  #podcast_archive .podcast-tag-filters .filter-wrapper {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%; }
    @media print, screen and (min-width: 40em) {
      #podcast_archive .podcast-tag-filters .filter-wrapper {
        -ms-flex-direction: row;
        flex-direction: row; } }
    #podcast_archive .podcast-tag-filters .filter-wrapper .tag-filter {
      position: relative;
      width: 100%;
      -ms-flex: 1;
      flex: 1; }
      #podcast_archive .podcast-tag-filters .filter-wrapper .tag-filter::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--podcast-tag-filter-select-background);
        pointer-events: none;
        z-index: -1; }
      #podcast_archive .podcast-tag-filters .filter-wrapper .tag-filter::after {
        content: '';
        position: absolute;
        right: 0.75rem;
        top: 50%;
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid white;
        pointer-events: none; }
      #podcast_archive .podcast-tag-filters .filter-wrapper .tag-filter select {
        color: var(--podcast-tag-filter-select-color);
        background: transparent;
        padding: var(--podcast-tag-filter-select-padding);
        margin: 0;
        height: auto;
        width: 100%;
        min-width: var(--podcast-tag-filter-select-min-width);
        text-transform: var(--podcast-tag-filter-select-text-transform); }
      @media print, screen and (min-width: 40em) {
        #podcast_archive .podcast-tag-filters .filter-wrapper .tag-filter {
          margin-right: var(--podcast-tag-filter-search-gap);
          width: auto; } }
    #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper {
      position: relative;
      margin: var(--podcast-tag-filter-search-margin);
      -ms-flex-item-align: end;
      align-self: flex-end; }
      #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-icon {
        font-size: var(--podcast-tag-filter-search-toggle-size);
        pointer-events: none;
        transition: 0.25s ease-out;
        line-height: 1; }
      #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-input {
        position: absolute;
        right: 0;
        top: calc(100% + var(--podcast-tag-filter-search-input-gap));
        transform: translateX(100vw);
        transition: 0.5s ease-out; }
        @media print, screen and (min-width: 40em) {
          #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-input {
            right: calc(100% + 1rem); } }
        #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-input form > div {
          display: -ms-flexbox;
          display: flex;
          width: calc(100vw - 1.25rem);
          border: solid var(--podcast-tag-filter-search-border-size) var(--podcast-tag-filter-search-border-color); }
          @media print, screen and (min-width: 40em) {
            #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-input form > div {
              width: var(--podcast-tag-filter-search-width-desktop); } }
          #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-input form > div input[type='text'] {
            -ms-flex-positive: 1;
            flex-grow: 1;
            margin: 0;
            border: 0; }
          #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-input form > div input[type='submit'] {
            width: -webkit-fit-content;
            width: -moz-fit-content;
            width: fit-content;
            border: 0;
            border-left: solid var(--podcast-tag-filter-search-border-size) var(--podcast-tag-filter-search-border-color);
            background: var(--podcast-tag-filter-search-button-background);
            color: var(--podcast-tag-filter-search-button-color);
            transition: 0.25s ease-out;
            cursor: pointer; }
            #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-input form > div input[type='submit']:hover {
              background: var(--podcast-tag-filter-search-button-hover-background);
              color: var(--podcast-tag-filter-search-button-hover-color); }
      #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-toggle {
        position: absolute;
        left: 0;
        top: 0;
        width: var(--podcast-tag-filter-search-toggle-size);
        height: var(--podcast-tag-filter-search-toggle-size);
        opacity: 0;
        cursor: pointer; }
        #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-toggle:hover ~ .search-icon {
          color: var(--podcast-tag-filter-search-toggle-color); }
        #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-toggle:checked ~ .search-icon {
          color: var(--podcast-tag-filter-search-toggle-color); }
        #podcast_archive .podcast-tag-filters .filter-wrapper .search-wrapper .search-toggle:checked ~ .search-input {
          transform: none; }

.tease-podcast {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  background: var(--podcast-tease-background); }
  .tease-podcast img {
    opacity: var(--podcast-tease-image-opacity);
    filter: var(--podcast-tease-image-grayscale);
    transition: 0.5s ease-out; }
  .tease-podcast .info {
    padding: var(--podcast-tease-info-padding); }
  .tease-podcast .podcast-title {
    font-family: var(--podcast-tease-title-font-family);
    font-size: var(--podcast-tease-title-font-size);
    font-weight: var(--podcast-tease-title-font-weight);
    color: var(--podcast-tease-title-color);
    text-transform: var(--podcast-tease-title-text-transform);
    transition: 0.25s ease-out; }
  .tease-podcast .date {
    font-family: var(--podcast-tease-date-font-family);
    font-size: var(--podcast-tease-date-font-size);
    font-weight: var(--podcast-tease-date-font-weight);
    color: var(--podcast-tease-date-color);
    text-transform: var(--podcast-tease-date-text-transform);
    transition: 0.25s ease-out; }
  .tease-podcast:hover img {
    opacity: var(--podcast-tease-image-opacity-hover);
    filter: var(--podcast-tease-image-grayscale-hover); }
  .tease-podcast:hover .podcast-title {
    color: var(--podcast-tease-title-color-hover); }
  .tease-podcast:hover .date {
    color: var(--podcast-tease-date-color-hover); }

.section-podcast-transcript .transcript {
  max-height: var(--podcast-transcript-collapsed-max-height);
  overflow: hidden;
  position: relative; }
  .section-podcast-transcript .transcript::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: var(--podcast-transcript-gradient-height);
    background: linear-gradient(to top, var(--podcast-transcript-gradient-color), transparent); }

.section-podcast-transcript .expand-transcript-link {
  color: var(--podcast-transcript-expand-link-color);
  transition: 0.25s ease-out;
  font-size: var(--podcast-transcript-expand-link-font-size);
  font-weight: var(--podcast-transcript-expand-link-font-weight);
  font-family: var(--podcast-transcript-expand-link-font-family);
  text-transform: var(--podcast-transcript-expand-link-text-transform); }
  .section-podcast-transcript .expand-transcript-link:hover {
    color: var(--podcast-transcript-expand-link-color-hover); }

.section-podcast-transcript.transcript-expanded .transcript {
  max-height: none; }
  .section-podcast-transcript.transcript-expanded .transcript::after {
    display: none; }

.section-podcast-transcript.transcript-expanded .expand-transcript-link {
  display: none; }

.section-related-podcast .related-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: var(--podcast-related-episode-header-margin-bottom); }
  .section-related-podcast .related-header .all-episode-link {
    font-size: var(--podcast-related-episode-link-font-size);
    font-family: var(--podcast-related-episode-link-font-family);
    font-weight: var(--podcast-related-episode-link-font-weight);
    text-transform: var(--podcast-related-episode-link-text-transform);
    color: var(--podcast-related-episode-link-color);
    transition: 0.25s ease-out;
    text-align: right; }
    .section-related-podcast .related-header .all-episode-link:hover {
      color: var(--podcast-related-episode-link-color-hover); }
