<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M8.00937 5.72046V8.18289V9.16712V11.6295H10.0406V9.16712V8.18289V5.72046H8.00937Z" fill="#FAB908"/>
<path d="M1.91562 9.13666C2.47653 9.13666 2.93124 8.68195 2.93124 8.12103C2.93124 7.56012 2.47653 7.10541 1.91562 7.10541C1.3547 7.10541 0.899994 7.56012 0.899994 8.12103C0.899994 8.68195 1.3547 9.13666 1.91562 9.13666Z" fill="#0066D9"/>
<path d="M1.91562 10.2446C2.47653 10.2446 2.93124 9.78989 2.93124 9.22897C2.93124 8.66806 2.47653 8.21335 1.91562 8.21335C1.3547 8.21335 0.899994 8.66806 0.899994 9.22897C0.899994 9.78989 1.3547 10.2446 1.91562 10.2446Z" fill="#0066D9"/>
<path d="M2.93124 8.12103H0.899994V9.22899H2.93124V8.12103Z" fill="#0066D9"/>
<path d="M16.1344 10.2446C16.6953 10.2446 17.15 9.78989 17.15 9.22897C17.15 8.66806 16.6953 8.21335 16.1344 8.21335C15.5735 8.21335 15.1187 8.66806 15.1187 9.22897C15.1187 9.78989 15.5735 10.2446 16.1344 10.2446Z" fill="#4285F4"/>
<path d="M16.1344 9.13666C16.6953 9.13666 17.15 8.68195 17.15 8.12103C17.15 7.56012 16.6953 7.10541 16.1344 7.10541C15.5735 7.10541 15.1187 7.56012 15.1187 8.12103C15.1187 8.68195 15.5735 9.13666 16.1344 9.13666Z" fill="#4285F4"/>
<path d="M15.1187 9.22897H17.15V8.12102H15.1187V9.22897Z" fill="#4285F4"/>
<path d="M5.42414 12.4605C5.98506 12.4605 6.43977 12.0058 6.43977 11.4449C6.43977 10.884 5.98506 10.4293 5.42414 10.4293C4.86323 10.4293 4.40852 10.884 4.40852 11.4449C4.40852 12.0058 4.86323 12.4605 5.42414 12.4605Z" fill="#EA4335"/>
<path d="M5.42414 13.5685C5.98506 13.5685 6.43977 13.1138 6.43977 12.5529C6.43977 11.9919 5.98506 11.5372 5.42414 11.5372C4.86323 11.5372 4.40852 11.9919 4.40852 12.5529C4.40852 13.1138 4.86323 13.5685 5.42414 13.5685Z" fill="#EA4335"/>
<path d="M6.43977 11.4449H4.40852V12.5528H6.43977V11.4449Z" fill="#EA4335"/>
<path d="M5.42414 5.81277C5.98506 5.81277 6.43977 5.35806 6.43977 4.79715C6.43977 4.23624 5.98506 3.78152 5.42414 3.78152C4.86323 3.78152 4.40852 4.23624 4.40852 4.79715C4.40852 5.35806 4.86323 5.81277 5.42414 5.81277Z" fill="#EA4335"/>
<path d="M5.42414 9.41364C5.98506 9.41364 6.43977 8.95892 6.43977 8.39801C6.43977 7.8371 5.98506 7.38239 5.42414 7.38239C4.86323 7.38239 4.40852 7.8371 4.40852 8.39801C4.40852 8.95892 4.86323 9.41364 5.42414 9.41364Z" fill="#EA4335"/>
<path d="M6.43977 4.79715H4.40852V8.42108H6.43977V4.79715Z" fill="#EA4335"/>
<path d="M12.6258 6.92075C13.1868 6.92075 13.6415 6.46603 13.6415 5.90512C13.6415 5.34421 13.1868 4.8895 12.6258 4.8895C12.0649 4.8895 11.6102 5.34421 11.6102 5.90512C11.6102 6.46603 12.0649 6.92075 12.6258 6.92075Z" fill="#34A853"/>
<path d="M12.6258 5.81277C13.1868 5.81277 13.6415 5.35806 13.6415 4.79715C13.6415 4.23624 13.1868 3.78152 12.6258 3.78152C12.0649 3.78152 11.6102 4.23624 11.6102 4.79715C11.6102 5.35806 12.0649 5.81277 12.6258 5.81277Z" fill="#34A853"/>
<path d="M11.6102 5.90512H13.6415V4.79717H11.6102V5.90512Z" fill="#34A853"/>
<path d="M9.02499 3.68921C9.58591 3.68921 10.0406 3.2345 10.0406 2.67358C10.0406 2.11267 9.58591 1.65796 9.02499 1.65796C8.46408 1.65796 8.00937 2.11267 8.00937 2.67358C8.00937 3.2345 8.46408 3.68921 9.02499 3.68921Z" fill="#FAB908"/>
<path d="M9.02499 2.58125C9.58591 2.58125 10.0406 2.12654 10.0406 1.56563C10.0406 1.00471 9.58591 0.550003 9.02499 0.550003C8.46408 0.550003 8.00937 1.00471 8.00937 1.56563C8.00937 2.12654 8.46408 2.58125 9.02499 2.58125Z" fill="#FAB908"/>
<path d="M8.00937 2.67358L10.0406 2.67358V1.56563L8.00937 1.56563V2.67358Z" fill="#FAB908"/>
<path d="M9.02499 16.8C9.58591 16.8 10.0406 16.3453 10.0406 15.7844C10.0406 15.2234 9.58591 14.7687 9.02499 14.7687C8.46408 14.7687 8.00937 15.2234 8.00937 15.7844C8.00937 16.3453 8.46408 16.8 9.02499 16.8Z" fill="#FAB908"/>
<path d="M9.02499 15.692C9.58591 15.692 10.0406 15.2373 10.0406 14.6764C10.0406 14.1155 9.58591 13.6608 9.02499 13.6608C8.46408 13.6608 8.00937 14.1155 8.00937 14.6764C8.00937 15.2373 8.46408 15.692 9.02499 15.692Z" fill="#FAB908"/>
<path d="M8.00937 15.7844H10.0406V14.6764H8.00937V15.7844Z" fill="#FAB908"/>
<path d="M12.6258 13.5685C13.1868 13.5685 13.6415 13.1138 13.6415 12.5529C13.6415 11.9919 13.1868 11.5372 12.6258 11.5372C12.0649 11.5372 11.6102 11.9919 11.6102 12.5529C11.6102 13.1138 12.0649 13.5685 12.6258 13.5685Z" fill="#34A853"/>
<path d="M12.6258 9.96762C13.1868 9.96762 13.6415 9.51291 13.6415 8.952C13.6415 8.39108 13.1868 7.93637 12.6258 7.93637C12.0649 7.93637 11.6102 8.39108 11.6102 8.952C11.6102 9.51291 12.0649 9.96762 12.6258 9.96762Z" fill="#34A853"/>
<path d="M11.6102 12.5529H13.6415V8.952H11.6102V12.5529Z" fill="#34A853"/>
<path d="M9.02499 6.73608C9.58591 6.73608 10.0406 6.28137 10.0406 5.72046C10.0406 5.15954 9.58591 4.70483 9.02499 4.70483C8.46408 4.70483 8.00937 5.15954 8.00937 5.72046C8.00937 6.28137 8.46408 6.73608 9.02499 6.73608Z" fill="#FAB908"/>
<path d="M9.02499 12.6452C9.58591 12.6452 10.0406 12.1905 10.0406 11.6295C10.0406 11.0686 9.58591 10.6139 9.02499 10.6139C8.46408 10.6139 8.00937 11.0686 8.00937 11.6295C8.00937 12.1905 8.46408 12.6452 9.02499 12.6452Z" fill="#FAB908"/>
</svg>
