<svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M2.79859 11.6C3.961 11.6 4.9 12.5475 4.9 13.7022C4.89996 14.8631 3.96095 15.8 2.79859 15.8C1.64072 15.8 0.699997 14.863 0.699997 13.7022C0.699997 12.5475 1.64072 11.6 2.79859 11.6ZM0.699997 5.6C6.3226 5.6 10.9 10.1753 10.9 15.7999L7.92464 15.8C7.92464 13.865 7.17209 12.0437 5.80806 10.6807C4.4426 9.31485 2.62887 8.56093 0.699997 8.56093V5.6ZM0.699997 0.199997C9.30106 0.199997 16.3 7.20059 16.3 15.8L13.2999 15.7999C13.2999 8.84855 7.64575 3.19126 0.699997 3.19126V0.199997Z" fill="#F5A623"/>
</svg>
