<div class="podcast-audio-wrapper">
  <div class="image-wrapper">
    {% if post.image %}
      {% set image = TimberImage(post.image)|resize(200,200) %}
      <img src="{{image}}" alt="{{image.alt|default(post.title)}}">
    {% else %}
      {# TODO: Default Logo Here #}
    {% endif %}
  </div>
  <div class="content-wrapper">
    <div class="player-line">
      <audio src="{{post.mp3}}" id="podcast_player"></audio>
      <div id="podcast_play_button"><i class="fa fa-play"></i><i class="fa fa-pause"></i></div>
      <div class="main-info">
        <div class="podcast-name">{{post.podcast_name.name}}</div>
        <div class="episode-title">
          <span class="title">{{post.title}}</span>
          {% if post.guest %}
            <span class="featuring"> - ft. </span>
            <span class="guest">{{post.guest.name}}</span>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="progress-bar-wrapper">
      <div id="podcast_progress_bar">
        {% include "podcasts/waves.twig" %}
      </div>
    </div>
  </div>
</div>

<script>
  var player = $('#podcast_player');
  $('#podcast_play_button').on('click', function() {
    if($(this).hasClass("playing")) {
      player[0].pause();
      $(this).removeClass("playing");
    } else {
      player[0].play();
      $(this).addClass("playing");
    }
  });

  player.on('timeupdate', function() {
    $('#podcast_progress_bar').get(0).style.setProperty("--podcast-progress-offset", ((1 - (this.currentTime / this.duration)) * 100) + "%");
  });
</script>