<div class="podcast-tag-filters">
  <div class="filter-label">I'm Looking For Podcasts From:</div>
  <div class="filter-wrapper">
    {% if taxonomy == "podcast_category" %}
      {% include 'components/tag-filter.twig' with {type: 'podcast', tax: 'name'} %}
    {% else %}
      {% include 'components/tag-filter.twig' with {type: 'podcast', tax: 'category'} %}
    {% endif %}
    {% if taxonomy == "podcast_guest" %}
      {% include 'components/tag-filter.twig' with {type: 'podcast', tax: 'name'} %}
    {% else %}
      {% include 'components/tag-filter.twig' with {type: 'podcast', tax: 'guest'} %}
    {% endif %}
    {% if taxonomy == "podcast_host" or taxonomy == "" %}
      {% include 'components/tag-filter.twig' with {type: 'podcast', tax: 'name'} %}
    {% else %}
      {% include 'components/tag-filter.twig' with {type: 'podcast', tax: 'host'} %}
    {% endif %}
    <div class="search-wrapper" id="podcast_search">
      <input type="checkbox" class="search-toggle" />
      <div class="search-icon"><i class="fa fa-search"></i></div>
      <div class="search-input">
        {% set args = {type: "podcast"} %}
        {% include "components/custom-search.twig" with {post: args} %}
      </div>
    </div>
  </div>
</div>