{% if post.related_episodes|length > 0 %}
  <section class="section bg-silver section-related-podcast">
    <div class="section-content normal-padding row normal-width"> 
      <div class="column">
        <div class="related-header">
          <h5>More Episodes Like This</h5>
          {% if post.season %}
            <a href="{{post.season.link}}" class="all-episode-link">View All Episodes</a>
          {% elseif post.podcast_name %}
            <a href="{{post.podcast_name.link}}" class="all-episode-link">View All Episodes</a>
          {% else %}
            <a href="/podcasts" class="all-episode-link">View All Episodes</a>
          {% endif %}
        </div>
        <div class="related-episode-grid grid-1-2-4">
          {% for episode in post.related_episodes %}
            {% include "tease-podcast.twig" with {post: get_post_type(episode)} %}
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}