<div class="podcast-sidebar">
<!-- {{post|print_r}} -->
  {# Episode Links #}
  {% if post.episode_links %}
    <div class="episode-links sidebar-content">
      <div class="sidebar-label">Episode Links:</div>
      {% for link in post.get_field('episode_links') %}
        <a href="{{link.episode_link_url}}" class="episode-link">{{link.episode_link_name}}</a>
      {% endfor %}
    </div>
  {% endif %}

  {# Credits #}
  {% if post.hosts|length > 0
    or post.guests|length > 0
    or post.editors|length > 0
    or post.musicians|length > 0
  %}
    <div class="credits sidebar-content">
      {% if post.hosts|length > 0 %}
        <div class="credit-section">
          <div class="sidebar-label">Hosted By:</div>
          {% for host in post.hosts %}
            <div class="credit">{{host.name}}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% if post.guests|length > 0 %}
        <div class="credit-section">
          <div class="sidebar-label">Special Guest:</div>
          {% for guest in post.guests %}
            <div class="credit">{{guest.name}}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% if post.editors|length > 0 %}
        <div class="credit-section">
          <div class="sidebar-label">Edited By:</div>
          {% for editor in post.editors %}
            <div class="credit">{{editor.name}}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% if post.musicians|length > 0 %}
        <div class="credit-section">
          <div class="sidebar-label">Music By:</div>
          {% for musician in post.musicians %}
            <div class="credit">{{musician.name}}</div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  {% endif %}

  {# Transcript Link #}
  {% if post.transcript %}
    <a href="#transcript" class="scroll expand-transcript-link">Read Episode Transcript</a>
  {% endif %}
</div>