<section class="section podcast-archive-header bg-dark parallax ">
  {% set headerImage = podcast.header_image ? TimberImage(podcast.header_image) : TimberImage(options.default_image) %}
  <img src="{{headerImage|resize(1400)}}" alt="{{headerImage.alt|default(podcast.title)}}" class="section-background-image header-background-image fade-15">
  <div class="section-content thick-padding no-animation">
    <div class="row two-thirds-width">
      <div class="column white section-content-1-1 section-content-alignment-middle">
        <div class="podcast-header-content">
          <div class="pre-title">
            {% if podcast.season %}
              <span class="podcast-name">{{podcast.season.name}}</span>
            {% else %}
              <span class="podcast-name">{{podcast.podcast_name.name}}</span>
            {% endif %}
            {% if podcast.episode_number %}
              <span class="spacer"> // </span>
              <span class="episode-number">Episode {{podcast.episode_number}}</span>
            {% endif %}
            <span class="spacer"> - </span>
            <span class="episode-date">{{podcast.podcast_date|date("F jS, Y")}}</span>
            {% if podcast.guest %}
              <span class="spacer"> // </span>
              <span class="episode-guest">ft. {{podcast.guest.name}}</span>
            {% endif %}
          </div>
          <h1>{{ podcast.title}}</h1>
          {% if podcast.excerpt %}
            {% if podcast.excerpt|first == "<" %}
              {{podcast.excerpt}}
            {% else %}
              <p class="excerpt">{{podcast.excerpt}}</p>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section podcast-audio-section bg-white">
  <div class="section-content no-padding">
    <div class="row two-thirds-width">
      <div class="column">
        <div class="podcast-header-audio">
          {% include "podcasts/audio-player.twig" with {post: podcast} %}
        </div>
        {# {% include "podcasts/ways-to-listen.twig" with {podcast_name: podcast.podcast_name} %} #}
      </div>
    </div>
  </div>
</section>