{% if post.transcript %}
  <section class="section bg-dark section-podcast-transcript" id="transcript">
    <div class="section-content normal-padding row half-width"> 
      <div class="column">
        <h5>Episode Transcript</h5>
          <div class="transcript">{{post.transcript|shortcodes}}</div>
          <a href="#transcript" class="scroll expand-transcript-link">Expand Transcript</a>
      </div>
    </div>
  </section>
{% endif %}

<script>
  $('.expand-transcript-link').on('click', function() {
    var section = $('#transcript');
    section.addClass('transcript-expanded');
  });
</script>