{% set wtl = ways_to_listen(podcast_name) %}
{% if wtl|length > 0 %}
  <div class="wtl-label">Other Ways To Listen</div>
  <div class="ways-to-listen">
    {% for way in wtl %}
      <a href="{{way.url}}" class="way-to-listen">
          {% if way.name|lower in ["google", "google podcasts"] %}
            <div class="wtl-icon">
              {% include "podcasts/icons/google.twig" %}
            </div>
          {% elseif way.name|lower in ["itunes", "apple", "apple podcasts"] %}
            <div class="wtl-icon">
              {% include "podcasts/icons/apple.twig" %}
            </div>
          {% elseif way.name|lower == "spotify" %}
            <div class="wtl-icon">
              {% include "podcasts/icons/spotify.twig" %}
            </div>
          {% elseif way.name|lower in ["rss", "rss feed"] %}
            <div class="wtl-icon">
              {% include "podcasts/icons/rss.twig" %}
            </div>
          {% endif %}
        <div class="wtl-text">
          <div class="listen-on">Listen on</div>
          <div class="wtl-name">{{way.name}}</div>
        </div>
      </a>
    {% endfor %}
  </div>
{% endif %}